<app-ia-step2-introduction [st1Repo]="temp"></app-ia-step2-introduction>

<app-ia-step2-resultsnfindings-strength></app-ia-step2-resultsnfindings-strength>
<app-ia-step2-resultsnfindings-weakness></app-ia-step2-resultsnfindings-weakness>

<app-ia-step2-opinion></app-ia-step2-opinion>

<app-ia-step2-audit-recommendation></app-ia-step2-audit-recommendation>

<app-ia-step2-comment-from-management></app-ia-step2-comment-from-management>

<app-ia-step2-acknowledgement> </app-ia-step2-acknowledgement>

