<div class="container-fluid fluid-component">
  <mat-card class="child-card-material mat-card-header-cls">
    <div class="row">
      <div class="col-md">
        <app-breadcrumb [routeArr]="routeArray"></app-breadcrumb>
      </div>
      <div class="col-md">
        <div class="example-button-container ">
          <button *ngIf="step1ResponseDTO && step1ResponseDTO.id && step1ResponseDTO.auditStatus=='IN_REVIEW_SLPMU' && step1ResponseDTO.isAssigned && authority=='ROLE_SLPMU_AUDIT'"
            matTooltip="Approve" mat-stroked-button class="child-route-button" color="primary"
            (click)="approveReject(step1ResponseDTO.id,true)">
            <mat-icon>check_circle</mat-icon>
          </button>
          <button *ngIf="step1ResponseDTO && step1ResponseDTO.id && step1ResponseDTO.auditStatus=='IN_REVIEW_SLPMU' && step1ResponseDTO.isAssigned  && authority=='ROLE_SLPMU_AUDIT'"
            matTooltip="Reject" mat-stroked-button class="child-route-button" color="primary"
            (click)="approveReject(step1ResponseDTO.id,false)">
            <mat-icon>cancel</mat-icon>
          </button>
          <button mat-stroked-button [routerLink]="'../../ia-list'" color="primary" class="child-route-button"
            aria-label="Example icon button with a plus one icon">
            <mat-icon>list</mat-icon>
          </button>
          <button *ngIf="id" mat-stroked-button (click)="confirmDelete(id)" color="primary" class="child-route-button"
            aria-label="Example icon button with a plus one icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="example-button-container ">
          <!-- *scsHasAnyAuthority="['ROLE_SLPMU_IT', 'ROLE_UDHD_IT']" -->
          <button mat-stroked-button class="child-route-button" color="primary" [routerLink]="'../../edit/' + id">
            <mat-icon>mode_edit</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-stroked-button (click)="exportToPdf()" color="primary" class="child-route-button"
            aria-label="Example icon button with a plus one icon">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button *ngIf="step1ResponseDTO && step1ResponseDTO.id   " matTooltip="Send for review"
            [disabled]="!(isSendForReviewDisabled||(step1ResponseDTO.auditStatus=='DRAFT'|| step1ResponseDTO.auditStatus=='IN_REVIEW_ULB')&&  step1ResponseDTO.isAssigned )"
            mat-stroked-button class="child-route-button" color="primary" (click)="sendForReview(step1ResponseDTO.id)">
            <mat-icon>access_time</mat-icon>
          </button>
        </div>

        <div class="example-button-container" *ngIf="step1ResponseDTO && step1ResponseDTO.id">
          <button *ngIf="(step1ResponseDTO.auditStatus=='IN_REVIEW_ULB'||step1ResponseDTO.auditStatus=='IN_REVIEW_SLPMU') && !step1ResponseDTO.isAssigned "
            matTooltip="Assign to me" mat-stroked-button class="child-route-button" color="primary"
            (click)="assignToMe(step1ResponseDTO.id)">
            <mat-icon>assignment_ind</mat-icon>
          </button>
        </div>
       
      </div>
    </div>
  </mat-card>


  <section id="body" class="col-md-12">
    <mat-card class="mat-card-data">
      <mat-horizontal-stepper linear #stepper (selectionChange)="selectionChange($event)">
        <mat-step label="Report">
          <app-view-step1-report></app-view-step1-report>
        </mat-step>

        <mat-step label="Executive Summary">
          <app-view-step2-executive-summary *ngIf="currentStep=='Executive Summary'"></app-view-step2-executive-summary>
        </mat-step>
        <mat-step label="Administration">
          <app-view-step3-detailed-audit *ngIf="currentStep=='Administration'"></app-view-step3-detailed-audit>
        </mat-step>
        <mat-step label="Audit Details">
          <app-view-step4-outstanding-paras-review
            *ngIf="currentStep=='Audit Details'"></app-view-step4-outstanding-paras-review>
        </mat-step>
        <mat-step label="Finance">
          <app-view-step5-finance *ngIf="currentStep=='Finance'"></app-view-step5-finance>
        </mat-step>
        <mat-step label="Audit Observation">
          <app-view-step6-audit-observation *ngIf="currentStep=='Audit Observation'"></app-view-step6-audit-observation>
        </mat-step>
      </mat-horizontal-stepper>

    </mat-card>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="stepper.previous()">Back</button>
      <button mat-raised-button color="accent" (click)="nextStep()" style="margin-left: 12px;">Next</button>
    </div>
  </section>