<!-- <h5>
<span>b)</span> Excess payment against bill, lack of prudence in payment against
voucher, inefficiency in controls resulting loss
in ULBs.
</h5> -->

<form [formGroup]="extraDataForm">
<div formArrayName="objectives" >
    <ng-container *ngFor="let data of objectivesControl.controls;let i = index"
        [formGroupName]="i" >
        <div class="form-group col-md-12" align="right">
         
          <button type="button" mat-button color="primary" title="download_file" (click)="downloadObjectiveFile(i)">
            <mat-icon>download_file</mat-icon>
          </button>
        </div>
        <fieldset class="hm-fieldset col-md-12 ">
            <legend class="hm-legend"></legend>
            <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-md-4">Objective :<span class="danger"> *</span></label>
                  <span class="col-md-8"> <input type="text" name="auditObjective" class="form-control"
                      formControlName="objective" id="auditObjective" placeholder="Enter  auditObjective">
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-md-4">Criteria :<span class="danger"> *</span></label>
                  <span class="col-md-8"> <input type="text" name="criteria" class="form-control" formControlName="criteria"
                      id="criteria" placeholder="Enter criteria">
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-md-4">Condition :<span class="danger"> *</span></label>
                  <span class="col-md-8"> <input type="text" name="condition" class="form-control"
                      formControlName="condition" id="condition" placeholder="Enter condition">
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-md-4">Consequences/Effect/Impact :<span class="danger"> *</span></label>
                  <span class="col-md-8"> <input type="text" name="consequenses" class="form-control"
                      formControlName="consequences" id="consequenses" placeholder="Enter  consequenses">
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-md-4">Cause :<span class="danger"> *</span></label>
                  <span class="col-md-8"> <input type="text" name="cause" class="form-control" formControlName="cause"
                      id="cause" placeholder="Enter cause">
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-md-4">Corrective Action/Recommendation :<span class="danger">
                      *</span></label>
                  <span class="col-md-8"> <input type="text" name="correctiveActionRecommendation" class="form-control"
                      formControlName="correctiveAction" id="correctiveActionRecommendation"
                      placeholder="Enter correctiveActionRecommendation">
                  </span>
                </div>
              </div>


            </fieldset>
    </ng-container>
</div>

</form>
