<div class="container-fluid">
  <section id="header" class="col-md-12">
    <div class="jumbotron row">
      <div style="height: 100px; text-align: center;">
        <h1> Finance Dashboard- UD & HD, Govt of Bihar</h1>
      </div>
    </div>
  </section>
  <section id="body" class="col-md-12">
    <app-graphs></app-graphs>
    <hr>
    <!-- <h2 style="text-align: center">
          Reports
      </h2> -->

    <app-data-views-dash-base></app-data-views-dash-base>

    <br><br>

  </section>
</div>

<!-- <router-outlet></router-outlet> -->
