<!--mat-card class="mat-card-data">
<form>
  <app-common [userType]="'UDHD'" [commonForm]="createUdhdUser.get('commonForm')" [parentGroup]="createUdhdUser"></app-common>
  <button mat-raised-button color="primary" type="button" [disabled]="createUdhdUser.invalid" (click)="onSubmit()">Submit</button>
</form>
</mat-card-->
<mat-card class="mat-card-header-cls">
  <div class="row">
    <div class="col-md">
      <app-breadcrumb [routeArr]="routeArray"></app-breadcrumb>
    </div>
    <div class="col-md">
      <div class="example-button-container">

        <button mat-stroked-button
          matTooltip="List users" class="child-route-button" [routerLink]="'/settings/settings-home/user-mgt/usermgt/list'" color="primary"
          style="float: right" aria-label="Example icon button with a plus one icon">
          <mat-icon>list</mat-icon>
        </button>

      </div>
    </div>
  </div>
</mat-card>
<mat-card >
  <div [formGroup]=" updateSLPMUUser">

    <div class="row">
      <div class="col-md">
        <mat-card-title class="mat-card-title">Update SLPMU User</mat-card-title>
      </div>
    </div>
    <mat-card-content>
      <div class="row">
        <div class="col-md">
          <div *ngIf="showFormError">
            <p>{{ showFormError.Description }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-md">
              <mat-form-field appearance="fill">
                <mat-label>Email<span class="required"> *</span></mat-label>
                <input formControlName="username" matInput />
                <mat-error *ngIf=" updateSLPMUUser.controls['username'].invalid">{{getErrorMessages('username')}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <mat-form-field appearance="fill">
                <mat-label>Name<span class="required"> *</span></mat-label>
                <input matInput formControlName="name" minlength="3" maxlength="50" />
                <mat-error *ngIf=" updateSLPMUUser.controls['name'].invalid">{{getErrorMessages('name')}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <mat-form-field appearance="fill">
                <mat-label>Mobile No<span class="required"> *</span></mat-label>
                <input matInput formControlName="mobileNo" minlength="10" />
                <mat-error *ngIf=" updateSLPMUUser.controls['mobileNo'].invalid">{{getErrorMessages('mobileNo')}}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <mat-form-field appearance="fill">
                <mat-select formControlName="authority" placeholder="Authority">
                  <ng-container *ngFor="let authName of authList">
                    <mat-option [value]="authName.name">{{authName.name}} </mat-option>
                  </ng-container>
                  <mat-error *ngIf=" updateSLPMUUser.controls['authority'].invalid">{{getErrorMessages('authority')}}</mat-error>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-md">
              <mat-form-field appearance="fill">
                <mat-label>Permanent Address</mat-label>
                <textarea formControlName="permanentAddress" matInput></textarea>
                <mat-error *ngIf=" updateSLPMUUser.controls['permanentAddress'].invalid">{{getErrorMessages('permanentAddress')}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="boolean">
            <div class="row">
              <div class="col-md">
                <mat-label>mobileVerified<span class="required">*</span></mat-label>
                <mat-slide-toggle formControlName="mobileVerified" class="example-margin" color="primary">
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-label>emailVerified<span class="required">*</span></mat-label>
                <mat-slide-toggle formControlName="emailVerified" class="example-margin" color="primary">
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-label>accountNonExpired<span class="required">*</span></mat-label>
                <mat-slide-toggle formControlName="accountNonExpired" class="example-margin" color="primary">
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-label>enabled<span class="required">*</span></mat-label>
                <mat-slide-toggle formControlName="enabled" class="example-margin" color="primary">
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-label>accountNonLocked<span class="required">*</span></mat-label>
                <mat-slide-toggle formControlName="accountNonLocked" class="example-margin" color="primary">
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-label>credentialsNonExpired<span class="required">*</span></mat-label>
                <mat-slide-toggle formControlName="credentialsNonExpired" class="example-margin" color="primary">
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <button mat-raised-button color="primary" type="button" [disabled]=" updateSLPMUUser.invalid"
      (click)="onSubmit()">Submit</button>
  </div>
</mat-card>