<mat-toolbar color="primary" *ngIf="userInfo$|async as userInfo">
  <button mat-button class="example-icon" (click)="onBtnPress()" aria-label="Side menu button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>UDHD Finance MIS</span>

  <span class="example-spacer"></span>
  <input type="text" class="input-search" placeholder="Search or jump to">


  <span class="example-spacer"></span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/settings/settings-home/my-profile/info'">Profile</button>
    <button mat-menu-item (click)="logout()">Sign out</button>
  </mat-menu>
  <p style="padding-top: 15px; padding-right: 5px;padding-left:5px;">{{userInfo.name}}</p>
  <a class="header-user-dropdown-toggle" type="button" data-toggle="dropdown" [matMenuTriggerFor]="menu"
    aria-expanded="false">
    <img width="35" height="35"
      class="header-user-avatar qa-user-avatar js-lazy-loaded qa-js-lazy-loaded" alt="Username"
      src="/assets/images/demo2.jpg" loading="lazy">
    <mat-icon class="expand" slot="bottom" style="margin-top:5px!important;">expand_more</mat-icon>
  </a>
</mat-toolbar>