<div class="container-fluid fluid-component">
    <mat-card class="child-card-material mat-card-header-cls">
        <div class="row">
            <div class="col-md">
                <app-breadcrumb [routeArr]="routeArray"></app-breadcrumb>
            </div>
            <div class="col-md">
                <div class="example-button-container ">
                    <button mat-stroked-button [routerLink]="'../../list'" color="primary" class="child-route-button"
                        aria-label="Example icon button with a plus one icon">
                        <mat-icon>list</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="mat-card mat-data-card container-fluid" *ngIf="finance$ | async as finance">
        <mat-card-content>
            <section>
                <div class="row header-row">
                    <span class="col-md">
                        <h3 style="display: inline">Finance Audit: View</h3>
                    </span>
                    <span class="col-md" style="text-align: right">
                        <button mat-stroked-button class="child-route-button" color="primary"
                            [routerLink]="'../../edit/' + finance.id">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id"> Id</label>
                            <input type="text" [value]="finance.id" mat-input class="form-control" id="id"
                                [disabled]="'true'" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name"> Title</label>
                            <input type="text" [value]="finance.title" mat-input class="form-control" id="name"
                                [disabled]="'true'" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startDate">Start Date</label>
                            <input type="text" [value]="finance.startDate" mat-input class="form-control" id="startDate"
                                [disabled]="'true'" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endDate">End Date</label>
                            <input type="text" [value]="finance.endDate" mat-input class="form-control" id="endDate"
                                [disabled]="'true'" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="description">ULB</label>
                            <input type="text" [value]="finance.ulb.id + ' - ' + finance.ulb.name" mat-input
                                class="form-control" id="description" [disabled]="'true'" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="description">Audit Status</label>
                            <input type="text" [value]="finance.auditStatus" mat-input class="form-control"
                                id="description" [disabled]="'true'" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea [value]="finance.description" mat-input class="form-control" id="description"
                                [disabled]="'true'"></textarea>
                        </div>
                    </div>
                </div>
            </section>
            <section class="criteria-section" *ngIf="finance.id">
                <mat-card>
                    <div *ngIf="currentScr=='list'">
                        <app-list-finance-audit-criteria [id]="finance.id" (criteriaId)="setCriteriaId($event)"
                            [parent]="'view'">
                        </app-list-finance-audit-criteria>
                    </div>
                    <div *ngIf="currentScr=='view'">
                        <app-view-finance-audit-criteria [id]="finance.id" (sendToParent)="openList($event)"
                            [criteriaId]="criteriaIdInfo">
                        </app-view-finance-audit-criteria>
                    </div>

                </mat-card>
            </section>
        </mat-card-content>
    </mat-card>


</div>