<div class="container-fluid fluid-component">
  <mat-card class="child-card-material mat-card-header-cls">
    <div class="row">
      <div class="col-md">
        <app-breadcrumb [routeArr]="routeArray"></app-breadcrumb>
      </div>
      <div class="col-md">
        <div class="example-button-container ">
          <button mat-stroked-button [routerLink]="'../../list'" color="primary" class="child-route-button"
            aria-label="Example icon button with a plus one icon">
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="mat-card mat-data-card container-fluid" *ngIf="eventsNmeetings$ | async as evMeet">
    <mat-card-content class="view-mat-card-content">
      <div class="row header-row">
        <span class="col-md">
          <h2 style="display: inline">Events And Meetings</h2>
        </span>
        <span class="col-md" style="text-align: right">
          <button mat-stroked-button class="child-route-button" color="warn" (click)="confirmDelete()">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-stroked-button class="child-route-button" color="primary"
            [routerLink]="'../../edit/' + evMeet.id">
            <mat-icon>mode_edit</mat-icon>
          </button>
        </span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="id"> Id</label>
            <input type="text" [value]="evMeet.id" mat-input class="form-control" id="id" [disabled]="'true'" />
          </div>
          <div class="form-group">
            <label for="occasion"> Meeting Header</label>
            <input type="text" [value]="evMeet.meetingHeader" mat-input class="form-control" [disabled]="'true'" />
          </div>
          <div class="form-group">
            <label for="occasion"> Meeting Location</label>
            <input type="text" [value]="evMeet.meetingLocation" mat-input class="form-control" [disabled]="'true'" />
          </div>
          <div class="form-group">
            <label for="occasion"> Description</label>
            <input type="text" [value]="evMeet.description" mat-input class="form-control" [disabled]="'true'" />
          </div>
          <div class="form-group">
            <label>Start Date</label>
            <input type="text" [value]="evMeet.startDate" mat-input class="form-control" [disabled]="'true'" />
          </div>
          <div class="form-group">
            <label>End Date</label>
            <input type="text" [value]="evMeet.endDate" mat-input class="form-control" [disabled]="'true'" />
          </div>
          <div class="form-group">
            <label>Start Time</label>
            <input type="text" [value]="evMeet.startTime" mat-input class="form-control" [disabled]="'true'" />
          </div>
          <div class="form-group">
            <label>End Time</label>
            <input type="text" [value]="evMeet.endTime" mat-input class="form-control" [disabled]="'true'" />
          </div>
        </div>
        <div class="form-group">
          <label>Required Attendies</label>
          <textarea type="text" [value]="evMeet.requiredAttendies" mat-input class="form-control" [disabled]="'true'"> </textarea>
        </div>
        <div class="form-group">
          <label>Optional Attendies</label>
          <textarea type="text" [value]="evMeet.optionalAttendies" mat-input class="form-control" [disabled]="'true'"> </textarea>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
