.hm-property {
  margin-top: 10px;
}

.hm-fieldset {
  margin-top: 12px;
  border: 1px groove #ddd !important;
  padding: 0 10px 10px 10px !important;
}

.hm-legend {
  font-size: 15px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #555;
  border-bottom: none;
  padding: 30 10px;
  width: auto;
}

