<form [formGroup]="commentMngmntForm">
  <fieldset class="hm-fieldset col-md-12 ">
      <legend class="hm-legend"> Comment From Management :</legend>
      <div class="form-group">
          <label for="comment">
          </label><span class="danger">*</span>
          <textarea class="form-control"  formControlName="comment" id="comment"></textarea>
          <p class="danger">Maximum 10,000 characters. </p>
      </div>
      <section class="form-group">
          <p *ngIf="showFormError" class="danger">{{showFormError}}</p>
          <label for="upload">Upload File
          </label>


          <div style="padding-left: 0">
              <span style="padding: 0">
                  <input type="file" (change)="onSelected($event)" class="btn btn-default btn-file pull-left" [disabled]="fileUpload">
              </span>
              <!-- <button mat-button color="primary" [disabled]="!isFile" (click)="uploadFile()">
                <mat-icon>file_upload</mat-icon><span>Upload</span>
              </button> -->
          </div>

      </section>
      <div class="col-md-12" align="right">
      <button class="btn btn-primary" type="button" *ngIf="commentMngmntForm.disabled" (click)="enableForm()" style="margin-right: 12px;">Edit</button>

          <button type="submit" class="btn btn-primary create-btn" [disabled]="!commentMngmntForm.valid"
              (click)="onSubmit()">
           Save</button>

      </div>
  </fieldset>
</form>









<!--

<h4>Comment From Management :</h4>

<mat-card class="mat-card-data">
  <form [formGroup]="commentMngmntForm" (submit)="onSubmit()">
    <mat-card-content>
      <div class="row">
        <div class="col-md">
          <div *ngIf="showFormError">
            <p>{{ showFormError }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <mat-form-field appearance="fill">
            <textarea matInput formControlName="comment"> </textarea>
            <mat-error matErrorMessages></mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!commentMngmntForm.valid">
        Submit
      </button>
    </mat-card-actions>
  </form>
</mat-card> -->
