
<div class="row mt-3">
  <div class="col-md-6">
    <app-ulb-income-expense-table [mainIncomeExpense]="mainIncomeAndExpenseComparativeData"></app-ulb-income-expense-table>
  </div>
  <div class="col-md-6 pt-5" style="display: block">
    <app-ulb-income-expense-graph [mainIncomeExpense]="mainIncomeAndExpenseComparativeData"></app-ulb-income-expense-graph>
  </div>
</div>


<app-head-level-ulb-income-expense [headLevelIncome]="headLevelIncomeInfo" [headLevelExpense]="headLevelExpenseInfo"></app-head-level-ulb-income-expense>
