<div class="container-fluid fluid-component">

  <mat-card class="mat-card-header-cls child-card-material">
    <div class="row">
      <div class="col-md">
        <app-breadcrumb [routeArr]="routeArray"></app-breadcrumb>
      </div>
      <div class="col-md">
        <div class="example-button-container">

          <button mat-stroked-button class="child-route-button" matTooltip="List users"  [routerLink]="'/settings/settings-home/user-mgt/usermgt/list'"
            color="primary" style="float: right" aria-label="User list">
            <mat-icon>list</mat-icon>
          </button>

        </div>
      </div>
    </div>
  </mat-card>
    <!--mat-card class="mat-card-data"-->
  <mat-card>
    <div [formGroup]="createUDHDUserFG">

      <div class="row">
        <div class="col-md">
          <mat-card-title class="mat-card-title">Add UDHD User</mat-card-title>
        </div>
      </div>
      <mat-card-content>
        <div class="row">
          <div class="col-md">
            <div *ngIf="showFormError">
              <p>{{ showFormError.Description }}</p>
            </div>
            <div *ngIf="createUDHDUserFG.errors" color="red">
              <p style="color:red">{{ createUDHDUserFG.errors|json }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-md">
                <mat-form-field appearance="fill">
                  <mat-label>Email<span class="required"> *</span></mat-label>
                  <input formControlName="username" matInput />
                  <mat-error
                    *ngIf="createUDHDUserFG.controls['username'].invalid">{{getErrorMessages('username')}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-form-field appearance="fill">
                  <mat-label>Name<span class="required"> *</span></mat-label>
                  <input matInput formControlName="name" minlength="3" maxlength="50" />
                  <mat-error *ngIf="createUDHDUserFG.controls['name'].invalid">{{getErrorMessages('name')}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-form-field appearance="fill">
                  <mat-label>Password<span class="required"> *</span></mat-label>
                  <input matInput type="password" formControlName="password" minlength="8" maxlength="20" />
                  <mat-error
                    *ngIf="createUDHDUserFG.controls['password'].invalid">{{getErrorMessages('password')}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-form-field appearance="fill">
                  <mat-label>Confirm Password<span class="required"> *</span></mat-label>
                  <input matInput type="password" formControlName="confirmPassword" minlength="8" maxlength="20" />
                  <mat-error
                    *ngIf="createUDHDUserFG.controls['confirmPassword'].invalid">{{getErrorMessages('confirmPassword')}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-form-field appearance="fill">
                  <mat-label>Mobile No<span class="required"> *</span></mat-label>
                  <input matInput formControlName="mobileNo" minlength="10" />
                  <mat-error
                    *ngIf="createUDHDUserFG.controls['mobileNo'].invalid">{{getErrorMessages('mobileNo')}}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <mat-form-field appearance="fill">
                  <mat-select formControlName="authority" placeholder="Authority">
                    <ng-container *ngFor="let authName of authList">
                      <mat-option [value]="authName.name">{{authName.name}} </mat-option>
                    </ng-container>
                    <mat-error
                      *ngIf="createUDHDUserFG.controls['authority'].invalid">{{getErrorMessages('authority')}}</mat-error>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-md">
                <mat-form-field appearance="fill">
                  <mat-label>Permanent Address</mat-label>
                  <textarea formControlName="permanentAddress" matInput></textarea>
                  <mat-error
                    *ngIf="createUDHDUserFG.controls['permanentAddress'].invalid">{{getErrorMessages('permanentAddress')}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="boolean">
              <div class="row">
                <div class="col-md">
                  <mat-label>mobileVerified<span class="required">*</span></mat-label>
                  <mat-slide-toggle formControlName="mobileVerified" class="example-margin" color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <mat-label>emailVerified<span class="required">*</span></mat-label>
                  <mat-slide-toggle formControlName="emailVerified" class="example-margin" color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <mat-label>accountNonExpired<span class="required">*</span></mat-label>
                  <mat-slide-toggle formControlName="accountNonExpired" class="example-margin" color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <mat-label>enabled<span class="required">*</span></mat-label>
                  <mat-slide-toggle formControlName="enabled" class="example-margin" color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <mat-label>accountNonLocked<span class="required">*</span></mat-label>
                  <mat-slide-toggle formControlName="accountNonLocked" class="example-margin" color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <mat-label>credentialsNonExpired<span class="required">*</span></mat-label>
                  <mat-slide-toggle formControlName="credentialsNonExpired" class="example-margin" color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <button mat-raised-button color="primary" type="button" [disabled]="createUDHDUserFG.invalid"
        (click)="onSubmit()">Submit</button>
    </div>
  </mat-card>
</div>