<div class="row">
  <form [formGroup]="step2IntroductionForm">
    <fieldset class="hm-fieldset col-md-12">
      <legend class="hm-legend">Introduction</legend>
      <table class="table table-bordered">
        <input formControlName="id"  type="hidden" value="">
        <tbody>
          <tr>
            <td>
              <label for="">Name of the Municipality</label>
            </td>
            <td>
              <textarea [readonly]="true" [value]="mName" style="display: block" placeholder="Enter Municipality Name"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <label for="">Period covered under current audit</label>
            </td>
            <td>
              <textarea formControlName="periodCovered" style="display: block" placeholder="Enter Period"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <label for="">Name of Executive Officer for the period under Audit</label>
            </td>
            <td>
              <textarea formControlName="executiveOfficerNameForPeriod" style="display: block" placeholder="Enter Executive Officer Name"></textarea>
            </td>
          </tr>
        </tbody>
      </table>

    </fieldset>
  </form>
  </div>
